<!DOCTYPE html>
<html>
    <head>
        <title>About | uniMichel</title>
  </head>
  <body>
        <h1>About</h1>
        <p>Esta é a pagina que vai ter informaçãoes dessa aplicação.</p>

  </body>
</html>
